<VirtualHost *:80>
    ServerAlias {{group_names[0]}}{{item}}.bombsheller.com
    DocumentRoot /var/www/{{item}}/current/public/
    ErrorLog /var/log/apache2/{{item}}/error.log
    CustomLog /var/log/apache2/{{item}}/access.log combined
    <Directory /var/www/{{item}}/current/public>
        RailsEnv {{rails_env}}
        AllowOverride all
        Options -MultiViews
        Order allow,deny
        Allow from all
    </Directory>
</VirtualHost>