<IfModule mod_passenger.c>
 PassengerRoot /home/deploy/.rvm/gems/ruby-{{ruby}}@global/gems/passenger-{{passenger_version}}
 PassengerDefaultRuby /home/deploy/.rvm/gems/ruby-{{ruby}}/wrappers/ruby
</IfModule>